input {
  display: block;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 20%;
  border-radius: 3px;
  border: dashed;
}

p {
  margin-left: 50px;
  margin-top: 25px;
}

p.rule {
  margin-left: 50px;
  margin-bottom: -10px;
}

p.email-sent {
  margin-left: 30px;
}

.submit {
  background-color: #20edbe;
  color: white;
}

.button {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 10%;
  border-radius: 3px;
  border: dashed;
  background-color: #20edbe;
  color: white;
}
